
.button.style-4{padding:8px 10px; min-width: 127px;}
.information-entry-section{}

.information-entry-section .title{left: 0; right:0;
    background: rgba(119, 136, 153, 0.5); padding: 7px 0; }
.information-entry-section .button.style-4:hover{ background: #008acc !important; color: lightgrey !important;;}

.add-to-bookmark{}