.adm-fileinput-area{display: inline-block;}
.adm-fileinput-item{margin-left: 44px;}
.adm-fileinput-btn-panel{display: none;}
.adm-fileinput-item-preview{border: 0px; box-shadow:none; background: none;  width: auto;}