.main-image-wp img{max-width: 100%;}

#playlist{background: #e3e3e3  ; padding: 10px 0px; max-width: 250px;}
#playlist li{margin-bottom: 5px; padding: 5px 0;}
#playlist li:hover{background: #eee; cursor: pointer;}
#playlist li p{padding: 0 7px;}
#playlist li b{font-weight: bold;}

.product-detail-box{position: relative;}
.add-to-bookmark{position: absolute !important; top: 0 !important; right: 0!important; float: none !important; width: auto !important;}


.contacts a{
    margin-right: 10px;
}

.contacts__item{margin-bottom: 5px;}

.bg-olive {
    color: white;
    background-color: #3d9970 !important;
}

.i-in-soc{padding-top: 15px;}
.i-in-soc .title{font-size: 14px;
    color: #808080;
    font-weight: 300;
    line-height: 30px}
.i-in-soc .btn{padding: 6px 0; margin-bottom: 5px;}
.i-in-soc .btn.focus, .btn:focus, .btn:hover{color: white !important;}


/*
 * Plugin: Social Buttons
 * ----------------------
 */
.btn-social {
    position: relative;
    padding-left: 44px !important;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px !important;
    line-height: 34px !important;
    font-size: 1.6em!important;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-social.btn-lg {
    padding-left: 61px !important;
}
.btn-social.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em;
}
.btn-social.btn-sm {
    padding-left: 38px !important;
}
.btn-social.btn-sm :first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em;
}
.btn-social.btn-xs {
    padding-left: 30px !important;
}
.btn-social.btn-xs :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em;
}
.btn-social-icon {
    position: relative;
    padding-left: 44px !important;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}
.btn-social-icon :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px !important;
    line-height: 34px !important;
    font-size: 1.6em!important;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-social-icon.btn-lg {
    padding-left: 61px !important;
}
.btn-social-icon.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em;
}
.btn-social-icon.btn-sm {
    padding-left: 38px !important;
}
.btn-social-icon.btn-sm :first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em;
}
.btn-social-icon.btn-xs {
    padding-left: 30px !important;
}
.btn-social-icon.btn-xs :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em;
}
.btn-social-icon :first-child {
    border: none;
    text-align: center;
    width: 100%!important;
}
.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0;
}
.btn-social-icon.btn-sm {
    height: 30px;
    width: 30px;
    padding-left: 0;
    padding-right: 0;
}
.btn-social-icon.btn-xs {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0;
}
.btn-bitbucket {
    color: #ffffff;
    background-color: #205081;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-bitbucket:hover,
.btn-bitbucket:focus,
.btn-bitbucket.focus,
.btn-bitbucket:active,
.btn-bitbucket.active,
.open > .dropdown-toggle.btn-bitbucket {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-bitbucket:active,
.btn-bitbucket.active,
.open > .dropdown-toggle.btn-bitbucket {
    background-image: none;
}
.btn-bitbucket .badge {
    color: #205081;
    background-color: #ffffff;
}
.btn-dropbox {
    color: #ffffff;
    background-color: #1087dd;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox.focus,
.btn-dropbox:active,
.btn-dropbox.active,
.open > .dropdown-toggle.btn-dropbox {
    color: #ffffff;
    background-color: #0d6aad;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-dropbox:active,
.btn-dropbox.active,
.open > .dropdown-toggle.btn-dropbox {
    background-image: none;
}
.btn-dropbox .badge {
    color: #1087dd;
    background-color: #ffffff;
}
.btn-facebook {
    color: #ffffff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    background-image: none;
}
.btn-facebook .badge {
    color: #3b5998;
    background-color: #ffffff;
}
.btn-flickr {
    color: #ffffff;
    background-color: #ff0084;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr.focus,
.btn-flickr:active,
.btn-flickr.active,
.open > .dropdown-toggle.btn-flickr {
    color: #ffffff;
    background-color: #cc006a;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-flickr:active,
.btn-flickr.active,
.open > .dropdown-toggle.btn-flickr {
    background-image: none;
}
.btn-flickr .badge {
    color: #ff0084;
    background-color: #ffffff;
}
.btn-foursquare {
    color: #ffffff;
    background-color: #0072b1;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare.focus,
.btn-foursquare:active,
.btn-foursquare.active,
.open > .dropdown-toggle.btn-foursquare {
    color: #ffffff;
    background-color: #00517e;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-foursquare:active,
.btn-foursquare.active,
.open > .dropdown-toggle.btn-foursquare {
    background-image: none;
}
.btn-foursquare .badge {
    color: #0072b1;
    background-color: #ffffff;
}
.btn-github {
    color: #ffffff;
    background-color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:hover,
.btn-github:focus,
.btn-github.focus,
.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
    color: #ffffff;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
    background-image: none;
}
.btn-github .badge {
    color: #444444;
    background-color: #ffffff;
}
.btn-google-plus {
    color: #ffffff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus.focus,
.btn-google-plus:active,
.btn-google-plus.active,
.open > .dropdown-toggle.btn-google-plus {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus:active,
.btn-google-plus.active,
.open > .dropdown-toggle.btn-google-plus {
    background-image: none;
}
.btn-google-plus .badge {
    color: #dd4b39;
    background-color: #ffffff;
}
.btn-instagram {
    color: #ffffff;
    background-color: #3f729b;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram.focus,
.btn-instagram:active,
.btn-instagram.active,
.open > .dropdown-toggle.btn-instagram {
    color: #ffffff;
    background-color: #305777;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-instagram:active,
.btn-instagram.active,
.open > .dropdown-toggle.btn-instagram {
    background-image: none;
}
.btn-instagram .badge {
    color: #3f729b;
    background-color: #ffffff;
}
.btn-linkedin {
    color: #ffffff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin.focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
    color: #ffffff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
    background-image: none;
}
.btn-linkedin .badge {
    color: #007bb6;
    background-color: #ffffff;
}
.btn-tumblr {
    color: #ffffff;
    background-color: #2c4762;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr.focus,
.btn-tumblr:active,
.btn-tumblr.active,
.open > .dropdown-toggle.btn-tumblr {
    color: #ffffff;
    background-color: #1c2d3f;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-tumblr:active,
.btn-tumblr.active,
.open > .dropdown-toggle.btn-tumblr {
    background-image: none;
}
.btn-tumblr .badge {
    color: #2c4762;
    background-color: #ffffff;
}
.btn-twitter {
    color: #ffffff;
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter.focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
    color: #ffffff;
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
    background-image: none;
}
.btn-twitter .badge {
    color: #55acee;
    background-color: #ffffff;
}
.btn-vk {
    color: #ffffff;
    background-color: #587ea3;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-vk:hover,
.btn-vk:focus,
.btn-vk.focus,
.btn-vk:active,
.btn-vk.active,
.open > .dropdown-toggle.btn-vk {
    color: #ffffff;
    background-color: #466482;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-vk:active,
.btn-vk.active,
.open > .dropdown-toggle.btn-vk {
    background-image: none;
}
.btn-vk .badge {
    color: #587ea3;
    background-color: #ffffff;
}