.main-image-wp img{max-width: 100%;}

#playlist{background: #e3e3e3  ; padding: 10px 0px; max-width: 250px;}
#playlist li{margin-bottom: 5px; padding: 5px 0;}
#playlist li:hover{background: #eee; cursor: pointer;}
#playlist li p{padding: 0 7px;}
#playlist li b{font-weight: bold;}

.product-detail-box{position: relative;}
.add-to-bookmark{position: absolute !important; top: 0 !important; right: 0!important; float: none !important; width: auto !important;}
